<div class="position-create">
  <h2>Create</h2>
  <form id="create" [formGroup]="form" (ngSubmit)="create()">
    <label for="title">Title</label>
    <input
      id="title"
      formControlName="title"
      placeholder="Enter title"
      required
    />
    <div class="expense-info">
      <div class="form-group">
        <label class="expense-detail" for="date">Date</label>
        <input
          class="date"
          id="date"
          formControlName="date"
          type="date"
          required
          title="Enter date"
        />
      </div>

      <div class="form-group">
        <label for="category">Category</label>
        <div class="add-item">
          <select
            class="custom-select__control"
            id="category"
            formControlName="category"
          >
            <option *ngFor="let category of categories" [value]="category._id">
              {{ category.name }}
            </option>
          </select>
          <a
            class="button"
            id="create-category-button"
            type="button"
            (click)="openCategoryModal()"
          >
            + Add Category
          </a>
        </div>
      </div>
    </div>
    @if(itemPositions.length > 0) {
    <table id="allExpenses">
      <thead>
        <tr>
          <th>Item</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of itemPositions">
          <td>{{ item.item.name }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.price }}</td>
          <td>{{ item.amount }}</td>
        </tr>
      </tbody>
    </table>
    }

    <a
      class="button"
      id="create-category-button"
      type="button"
      (click)="openItemPositionModal()"
      title="Add a line"
    >
      + Add a Line
    </a>

    <div class="form-group">
      <label for="amount">Total</label>
      <input
        type="number"
        id="amount"
        formControlName="amount"
       
      />
    </div>
    <div class="buttons">
      <button class="button" type="submit">
        Create
      </button>
    </div>
  </form>
</div>
