<div class="container">
  <form class="register" #form="ngForm" (ngSubmit)="register(form)">
    <fieldset>
      <h2>Registration Form</h2>

      <!-- email -->
      <p class="field field-icon">
        <label for="email"
          ><span><i class="fas fa-envelope"></i></span>Email:</label
        >
        <input
          [class]="(inputEmail?.touched && (inputEmail?.errors?.['required'] || inputEmail?.errors?.['emailValidator'])) ? 'input-error' : ''"
          type="email"
          name="email"
          id="email"
          placeholder="Enter your email"
          ngModel
          #inputEmail="ngModel"
          required
          [appEmail]="suffixes"
        />
      </p>

      @if(inputEmail?.touched) {
      <div>
        @if(inputEmail?.errors?.['required']) {
        <p class="error">Email is required!</p>
        } @if(inputEmail?.errors?.['emailValidator']) {
        <p class="error">Email is not valid!</p>
        }
        <!--<p class="error" *ngIf="inputEmail?.errors?.['required']">
          Email is required!
        </p>

        <p class="error" *ngIf="inputEmail?.errors?.['email']">
          Email is not valid!
        </p>
        -->
      </div>
      }
      <!-- <p class="error">
                Email is required!
            </p>
            <p class="error">
                Email is not valid!
            </p> -->

      <!-- password -->
      <p class="field field-icon">
        <label for="password"
          ><span><i class="fas fa-lock"></i></span>Password:</label
        >
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Enter your password"
          ngModel
          #inputPassword="ngModel"
          required
          minlength="5"
        />
      </p>

      @if(inputPassword?.touched) {
      <div>
        @if(inputPassword?.errors?.['required']) {
        <p class="error">Password is required!</p>
        } @if(inputPassword?.errors?.['minlength']) {
        <p class="error">Password must be at least 5 characters!</p>
        }
      </div>
      }

      <p class="field field-icon">
        <label for="rePassword"
          ><span><i class="fas fa-lock"></i></span>Re-Password:</label
        >
        <input
          type="password"
          name="rePassword"
          id="rePassword"
          placeholder="Re-enter your password"
          ngModel
          #inputRePassword="ngModel"
          required
          minlength="5"
        />
      </p>

      <!-- Password mismatch error -->
      @if(inputPassword?.value && inputRePassword?.value && inputPassword?.value
      !== inputRePassword?.value) {
      <p class="error">Passwords do not match!</p>
      }

      <button class="button" [disabled]="form.invalid">Create Account</button>

      <p class="text-center">
        Have an account?
        <a routerLink="/login">Log In</a>
      </p>
    </fieldset>
  </form>
</div>
