<header>
  <h1>
    <a class="home" routerLink="/"> Sened </a>
  </h1>
  <nav>
    @if(isLoggedIn) {
    <div id="user">
      <a routerLink="/positions" [queryParams]="{ type: 'income' }">Profits</a>
      <a routerLink="/positions" [queryParams]="{ type: 'expense' }"
        >Expenses</a
      >
      <a routerLink="/monitor">Data Analysis</a>
      <a (click)="logout()">Logout</a>
    </div>
    } @else {
    <div id="guest">
      <a routerLink="/login">Login</a>
      <a routerLink="/register">Register</a>
    </div>
    }
  </nav>
</header>
