header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f2f2f2;
}

.mini-navbar-wrap {
    display: flex;
    align-items: center;
}

.logo-wrap {
    margin-right: 20px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.mini-navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Add this line */
}

.mini-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.mini-navbar ul li {
    display: inline-block;
    margin-right: 10px;
}

.mini-navbar ul li a {
    text-decoration: none;
    color: #333;
}

nav {
    margin-top: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}