<header>
  <div class="mini-navbar-wrap">
    <div class="logo-wrap">
      <p class="logo"><span class="logo">SoftUni Forum</span></p>
    </div>
    @if(!isLoggedIn) {
    <div class="mini-navbar">
      <ul>
        <li>
          <a routerLink="/login">Login</a>
        </li>
        <li>
          <a routerLink="/register">Register</a>
        </li>
      </ul>
    </div>
    } @if(isLoggedIn) {
    <div class="mini-navbar">
      <ul>

        <li>
          <a (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
    }
  </div>
  @if(isLoggedIn) {
  <nav>
    <ul>
      <li>
        <a routerLink="/home">Home</a>
      </li>
      <li>
        <a routerLink="/items">Items</a>
      </li>
      <li>
        <a routerLink="/add-item">New Item</a>
      </li>
    </ul>
  </nav>
  }
</header>
