<div class="container">
  <form class="login" [formGroup]="form" (ngSubmit)="login()">
    <fieldset>
      <h2>Login Form</h2>

      <p class="field field-icon">
        <label for="email"
          ><span><i class="fas fa-envelope"></i></span
        ></label>
        <input
          [class]="isInputEmpty('email') ? 'input-error' : ''"
          type="email"
          name="email"
          id="email"
          placeholder="john.doe@gmail.com"
          formControlName="email"
        />
      </p>

      @if(form.get('email')?.touched) {
      <div>
        @if(form.get('email')?.errors?.['required']) {
        <p>Email is required</p>
        } @if(form.get('email')?.errors?.['emailValidator']) {
        <p>Email is not valid</p>
        }
      </div>
      }

      <p class="field field-icon">
        <label for="password"
          ><span><i class="fas fa-lock"></i></span
        ></label>
        <input
          [class]="isInputEmpty('password') ? 'input-error' : ''"
          type="password"
          name="password"
          id="password"
          placeholder="******"
          formControlName="password"
        />
      </p>
      @if(form.get('password')?.touched) {
      <div>
        @if(form.get('password')?.errors?.['required']) {
        <p>Password is required</p>
        }
      </div>
      }

      <button
        [disabled]="form.invalid"
        [style]="{ cursor: form.invalid ? 'not-allowed' : 'pointer' }"
      >
        Login
      </button>

      <p class="text-center">
        Don't have an account?
        <a routerLink="/register">Register</a>
      </p>
    </fieldset>
  </form>
</div>
