<div class="container">
  <form class="login" [formGroup]="form" (ngSubmit)="login()">
    <fieldset>
      <h2>Login Form</h2>
      @if(errorMessage) {
      <p class="error">{{ errorMessage }}</p>
      }
      <p class="field field-icon">
        <label for="email"
          ><span><i class="fas fa-envelope"></i></span>Email:</label
        >
        <input
          [class]="isInputEmpty('email') ? 'input-error' : ''"
          type="email"
          name="email"
          id="email"
          placeholder="Enter your email"
          formControlName="email"
        />
      </p>

      @if(form.get('email')?.touched) {
      <div>
        @if(form.get('email')?.errors?.['required']) {
        <p class="error">Email is required</p>
        } @if(form.get('email')?.errors?.['emailValidator']) {
        <p class="error">Email is not valid</p>
        }
      </div>
      }

      <p class="field field-icon">
        <label for="password"
          ><span><i class="fas fa-lock"></i></span>Password:</label
        >
        <input
          [class]="isInputEmpty('password') ? 'input-error' : ''"
          type="password"
          name="password"
          id="password"
          placeholder="Enter your password"
          formControlName="password"
        />
      </p>
      @if(form.get('password')?.touched) {
      <div>
        @if(form.get('password')?.errors?.['required']) {
        <p class="error">Password is required</p>
        }
      </div>
      }
      <button
        class="button"
        [disabled]="form.invalid"
        [style]="{ cursor: form.invalid ? 'not-allowed' : 'pointer' }"
      >
        Login
      </button>

      <p class="text-center">
        Don't have an account?
        <a routerLink="/register">Register</a>
      </p>
    </fieldset>
  </form>
</div>
