<section id="home">
  <div class="buttons">
    <a class="button" id="edit-button" linkTo="/expenses/create?type=expense"
      >Add Expense</a
    >
    <a class="button" id="edit-button" linkTo="/expenses/create?type=income"
      >Add Income</a
    >
    <div class="latestExpenses">
      <div class="welcome-message">
        <h3>Latest Expenses</h3>
      </div>
      <div class="expense">
        <h3>expense.title</h3>
        <p>Amount: expense.amount $</p>
        <p>Date: expense.date.split("T")[0]</p>
        <p>Category: expense.category.name</p>
      </div>
    </div>
  </div>
</section>
