<section id="home">
  @if(isLoggedIn) { @if(positions.length == 0) {
  <div class="buttons">
    <a
      class="button"
      id="edit-button"
      routerLink="/positions"
      [queryParams]="{ type: 'income' }"
      >Profits</a
    >
    <a
      class="button"
      id="edit-button"
      routerLink="/positions"
      [queryParams]="{ type: 'expense' }"
      >Expenses</a
    >
  </div>
  } @else {
  <div class="latestExpenses">
    <div class="welcome-message">
      <h3>Latest Expenses</h3>
    </div>
    @for(position of positions; track $index) {
    <div class="expense">
      <h3>{{ position.title }}</h3>
      <p>Amount: {{ position.amount }} $</p>
      <p>Date: {{ position.date }}</p>
      <!-- <p>Category: {{ position.category.name }}</p> -->
    </div>
    }
  </div>
  } } @else {
  <div class="welcome-message">
    <h3>Welcome to Sened</h3>
    <p>Keep track of your expenses and profits</p>
  </div>
  <div class="buttons">
    <a class="button" routerLink="/login">Login</a>
    <a class="button" routerLink="/register">Register</a>
  </div>
  }
</section>
